<main>
  <header>
      Sanket's - Portfolio
  </header>
  <section>
      <h2>About Me</h2>
      <p>Hi, I'm Sanket Wani, a DevOps Engineer passionate about optimizing cost and processes in cloud environments.</p>
  </section>
  <section>
      <h2>Resume</h2>
      <a routerLink="/resume">Resume</a>
      <p>Download my resume <a href="./assets/resume.pdf" target="_blank">here</a>.</p>
  </section>
  <section>
      <h2>Projects</h2>
      <a routerLink="/projects">Projects</a>
      <p>Coming soon...</p>
  </section>
  <section>
      <h2>Contact</h2>
      <a routerLink="/contact">Contact</a>
      <p>Email: <a href="mailto:sankeyswani@gmail.com">sankeyswani&#64;.com</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/sanket-wani-2753b4122" target="_blank">Profile</a></p>
  </section>
</main>


<router-outlet />
